
@{
    ViewBag.Title = "EmailVerification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <link href="@Url.Content("~/Content/email_verification.css")" rel="stylesheet" />
}


<span id="lblMessage">@ViewBag.Message</span>

