
@{
    ViewBag.Title = "RecoverPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section styles{
    <link href='@Url.Content("~/Content/recoverPassword.css")' rel="stylesheet" />
}

<div id="recoverPasswordForm">

    @using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post))
    {

        Email:
        <input type="text" id="txtEmail" name="Email" />
        <input type="submit" id="btnRecoverPassword" value="Recover Password" />
        <br />
        <span id="lblErrors">@ViewBag.Message</span>

    }
</div>









