
.dwellingPlace {
    width: 120px;
}

#innerContent > fieldset {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#content {
    top: 15px;
}

.modelErrorMessage {
    display: block;
    color:blue;
}

#valSummary {
    margin-left: 200px;
}
