@model MvcApp.ViewModel.PasswordViewModel

@using (Ajax.BeginForm("PasswordInfo", "Settings", new AjaxOptions { HttpMethod = "POST", OnFailure = "onPasswordFailure", OnSuccess = "onSuccess", UpdateTargetId = "PasswordInfo" }))
{
    <table>
        <tr>
            <td class="settings_privacy_row1">Старый пароль:</td>
            <td>
                @Html.PasswordFor(a => a.OldPassword)
            </td>
        </tr>
        <tr>
            <td class="settings_privacy_row1">Новый пароль:</td>
            <td>
                @Html.PasswordFor(a => a.NewPassword)
            </td>
        </tr>
        <tr>
            <td class="settings_privacy_row1">Повторите пароль: </td>
            <td>
                @Html.PasswordFor(a => a.NewPasswordConfirm)
            </td>
        </tr>
        <tr>
            <td class="settings_privacy_row1"></td>
            <td>
                <input id="btnChangePsw" type="submit" value="Change password" width="125" />
            </td>
        </tr>
    </table>

    @Html.ValidationSummary()

}
