<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!--<connectionStrings>
    <add name="NW_DB" 
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\NW_DB.mdf;Initial Catalog=NW;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>

    <add key="minBirthYear" value="1940" />
    <add key="schoolTown" value="" />
    <add key="minStartScoolYear" value="1947" />
    <add key="minSchoolFinishYear" value="1957" />
    <add key="schoolTown" value="" />
    <add key="schoolCountry" value="" />
    <add key="minBirthDay" value="" />
    <add key="minBirthMonth" value="" />


    <add key="minAge" value="14" />
    <add key="maxAge" value="81" />
    <add key="daysInMonth" value="31" />
    <add key="startSchoolYears" value="1947" />
    <add key="monthsInYear" value="12" />
    <add key="finishSchoolYear" value="1957" />
    <add key="minimalBirthYear" value="1941" />


    <add key="FROM_EMAIL_ADDRESS" value="abrakadabra364@gmail.com" />
    <add key="FROM_EMAIL_ADDRESS_PASSWORD" value="hallucination" />
    <add key="EMAIL_PORT" value="587" />
    <add key="EMAIL_HOST" value="smtp.gmail.com" />

    --><!--<add key="FROM_EMAIL_ADDRESS" value="mirumir321@mail.ru" />
    <add key="FROM_EMAIL_ADDRESS_PASSWORD" value="@rubikon@" />
    <add key="EMAIL_PORT" value="465" />
    <add key="EMAIL_HOST" value="smtp.mail.ru" />--><!--


    <add key="defaultUrl" value="UsersFolder/default.jpg" />    
  </appSettings>-->
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
</configuration>