@model IEnumerable<MvcApp.ViewModel.AlbumViewModel>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="album">
            <img src='@item.ThumbnailPhotoUrl' onclick='@string.Concat("getPhotosByAlbumID(" + item.AlbumID + ");return false;")' data-albumid='@item.AlbumID' />
        </div>
        <div class="albumTitle">@item.AlbumTitle</div>
    }
}