@model IEnumerable<MvcApp.ViewModel.AlbumViewModel>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="album">
            <img src='@Url.Content("~/"+item.ThumbnailPhotoUrl)'
                 onclick='@string.Concat("return vm.getPhotosByAlbumID(" + item.AlbumID + ")")' 
                 data-albumid='@item.AlbumID' />
        </div>
        <div class="albumTitle">@item.AlbumTitle</div>
    }
}