

<div id="createMessages">
    <textarea rows="2"
              cols="20"
              id="txtMessage"
              class="messageForm"
              onclick="vm.createPostForm(this)"
              style="width: 370px; resize: none;z-index: 1;"></textarea>
</div>
